<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gulp + Webpack</title>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, maximum-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Cabin+Condensed' rel='stylesheet' type='text/css'>
    <link href="//cdn.muicss.com/mui-0.4.6/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.4.6/js/mui.min.js"></script>
    <link rel="stylesheet" href="static/css/app.css">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="./app-icon.png">
    <!-- android web app manifest -->
    <link rel="manifest" href="manifest.json">
</head>
<body>
    <div id="app">
        <h1>RELOCATE</h1>
        <!-- NEW ITEMS ===================================== -->
        <form id="form" v-on:submit.prevent="addItem">
            <div class="mui-panel">
                <div class="mui-row">
                  <div class="mui-col-xs-6">
                      <div class="mui-textfield">
                          <input type="text" class="" placeholder="nuovo oggetto" v-model="newItem.label">
                      </div>
                  </div>
                  <div class="mui-col-xs-6">
                      <div class="mui-select">
                          <select name="room" v-model="newItem.room">
                              <option value="">seleziona</option>
                              <option v-for="room in rooms" value="{{room}}">{{room}}</option>
                          </select>
                      </div>
                  </div>
                </div>
                <div class="mui-radio">
                    <template v-for="destination in destinations">
                        <label class="mui-btn mui-btn--flat mui-btn--primary" v-bind:class="{ 'toggled': newItem.destination == destination}"><input type="radio" v-model="newItem.destination" name="destination" value="{{destination}}">{{destination}}</label>
                    </template>
                </div>
                <button type="submit" class="mui-btn mui-btn--fab mui-btn--accent add-btn">+</button>
            </div>
        </form>

        <!-- ITEMS LIST ===================================== -->
        <div class="mui-panel" v-bind:class="{'panel-tall': editToggle}">
            <table>
                <template v-for="item in items" transition>
                    <tr v-bind:class="{ 'done': item.isDone}">
                        <td v-on:click.prevent="editItem($index)" class="td-label"><strong>{{item.label}}</strong></td>
                        <td class="td-room">{{item.room}}</td>
                        <td class="td-destination">{{item.destination}}</td>
                        <td class="td-toggle-done"><button v-on:click.prevent="markItemDone($index)" class="mui-btn mui-btn--flat mui-btn--primary btn-toggle-done">✔</button></td>
                    </tr>
                </template>
            </table>
        </div>
        <!-- ITEMS EDIT ===================================== -->
        <div class="mui-panel edit-panel" v-bind:class="{'panel-visible': editToggle}" transition>
            <form>
                <div class="mui-row">
                  <div class="mui-col-xs-6">
                      <div class="mui-textfield">
                          <input type="text" class="" placeholder="nuovo oggetto" v-model="tempItem.label">
                      </div>
                  </div>
                  <div class="mui-col-xs-6">
                      <div class="mui-select">
                          <select name="room" v-model="tempItem.room">
                              <option value="">seleziona</option>
                              <option v-for="room in rooms" value="{{room}}">{{room}}</option>
                          </select>
                      </div>
                  </div>
                </div>
                <div class="mui-radio">
                    <template v-for="destination in destinations">
                        <label class="mui-btn mui-btn--flat mui-btn--primary" v-bind:class="{ 'toggled': tempItem.destination == destination}"><input type="radio" v-model="tempItem.destination" name="destination" value="{{destination}}" >{{destination}}</label>
                    </template>
                </div>
                <hr>
                <button v-on:click.prevent="saveItem(tempItem)" type="submit" class="mui-btn mui-btn--small mui-btn--primary">✐ modifica</button>
                <button v-on:click.prevent="removeItem()" class="mui-btn mui-btn--small mui-btn--danger">✖ elimina</button>
            </form>
            <span v-on:click.prevent="closePanel()" class="btn-panel-close">&times;</span>
        </div>
    </div>
    <script src="bundle.js"></script>
</body>
</html>
